.superior{
    position: relative;
    left: 85%;
    top:0;
    margin: 0;
    border: solid black 1px;
}

h1{
    text-align: center;
}
.remitente{
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
   
}